deps/*
objs/*
objs_dis/*
asmouts/*
preprocs/*
deps_debug/*
objs_debug/*
objs_dis_debug/*
asmouts_debug/*
preprocs_debug/*
liborangepower
liborangepower_debug
testing/deps/*
testing/objs/*
testing/objs_dis/*
testing/asmouts/*
testing/preprocs/*
testing/deps_debug/*
testing/objs_debug/*
testing/objs_dis_debug/*
testing/asmouts_debug/*
testing/preprocs_debug/*
testing/testing
testing/testing_debug
small_code_testing_things/*
*.elf
*.gdb_history*
*.swp
*.swo
*/tags
*/types_*.taghl
*.txt.ignore
*.s.ignore
*.asm.ignore
docs/src
docs/makefile
docs/*.gpp.ignore
docs/*.txt.ignore
docs/tests
